@media (max-width: 600px) {
  .gitads-banner {
    max-width: 90vw;
    margin-bottom: 8px;
  }

  footer h3 {
    font-size: 1.1em;
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 100%; /*zmiana szerokości logo*/
    max-width: 200px;
    height: auto; /*zmiana wysokości logo*/
    display: block; /*ustawienie logo jako blok*/
    margin: 0 auto; /*ustawienie logo na środku*/
    border-radius: 50%; /*zaokrąglenie logo*/
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    color: #333;
}

#about, #contact {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px; /*zaokrąglenie sekcji*/
}

#offer {
    background: #e2e2e2;
    padding: 20px;
    border-radius: 10px; /*zaokrąglenie sekcji*/
}

#contact {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px; /*zaokrąglenie sekcji*/
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /*zmiana szerokości formularza*/
    margin: 0 auto; /*ustawienie formularza na środku*/
    padding: 20px; /*dodanie paddingu do formularza*/
    background: #fff; /*zmiana koloru tła formularza*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*dodanie cienia do formularza*/
    border-radius: 10px; /*zaokrąglenie formularza*/
}

label {
    margin: 5px 0;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

/*Styl responsywny*/
@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }
}